body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 700px;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.product h7 {
    display: none;
}

.product img {
    width: 100%;
    height: auto;
}

.product h2 {
    margin-top: 0;
}

.product p:last-child {
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-btn {
    color: #aaaaaa;
    float: right;
    font-size: 19px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}